.App {
  position: absolute;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  float: left;
  padding: 10px;
}

button {
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  color: blue;
  font-weight: bolder;
  border-color: blue;
}

.active {
  color: white;
  background-color: rgb(15, 15, 121);
}

.tab-content {
  float: left;
  text-align: initial;
  margin-top: 5px;
  margin-left: 10px;
}

.searchButton {
  padding: 5px;
  margin-left: 0;
  border-radius: 0 10px 10px 0;
}

input {
  margin-right: 0px;
  padding: 5px;
}
